body {
  background-image: url("../images/background2.png");
}

h1{
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

html{
  font-family:arial, "lucida console", sans-serif;
}
dl > dt{
  font-weight: 700;
}
